<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Northwind Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <NavLink class="nav-link" href="/">
          Home
        </NavLink>
        <NavLink class="nav-link" href="suppliers">
          Suppliers
        </NavLink>
        <NavLink class="nav-link" href="customers">
          Customers
        </NavLink>
      </div>
    </div>
  </div>
</nav>
